* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container {
  border: 1px solid rgb(180, 163, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  border-radius: 8px;
  height: 100%;
  margin: 20px;
}
.home-logo img {
  margin-top: 20px;
  margin-bottom: 40px;
}
.home-things {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.home-things {
  margin: 40px;
}
.home-food {
  font-size: 40px;
  border-radius: 20px;
  padding: 20px 60px 20px 60px;
  background-color: black;
  color: yellow;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  cursor: pointer;
}
.home-drink {
  font-size: 40px;
  border-radius: 20px;
  padding: 20px 60px 20px 60px;
  background-color: black;
  color: yellow;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  cursor: pointer;
}
.food-item {
  width: 100%;
  font-size: 40px;
  border-radius: 20px;
  padding: 20px 60px 20px 60px;
  background-color: black;
  color: yellow;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  cursor: pointer;
}
.pizza-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
  border-radius: 8px;
}
.pizza-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin-bottom: 10px;
}
.pizza-desc {
  display: flex;
  justify-content: space-between;
}
.pizza-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
}
.pizza-name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: x-large;
}
.pizza-box img {
  width: 100%;
  height: auto;
}
.pizza-left {
  text-align: start;
}
